@use "../variables";

img{
  width: 100%;
  margin-top: 0;
}



.chefs { 
  margin-top: 6vh; 
  container-type: inline-size;

  .participants-grid {
    display: block;
    width: 100%;
    margin: 40px auto;
  }

  @container (min-width: 600px) {
    .participants-grid {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-around; 
      width: 70%;
      margin: 40px auto;
    }
  }

  .participant {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0;
  }

  @container (min-width: 600px) {
    .participant {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 500px;
      margin: 10px;
      margin-top: 0;
    }
  }

}

.titular-chefs {
  font-size: 42px;
  font-weight: 450;
  color: variables.$main-color !important;
  text-align: center;
}



.card-content{
  height: 20%;
  margin-top: 20px;

  p { text-align: center; }

  h2 { 
    color: variables.$secondary-color !important;
    text-align: center;
  }
}