<!doctype html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/styles/views.scss"><!-- do not remove this line! -->
    <link rel="icon" href="../assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">

    <title>Plato perfecto</title>
  </head>
  <body>
    <include src="src/views/menu.html" locals='{ "chefs": "", "blog": "current", "apuntate": "" }'></include>
    <main>
        <div class="hero-image">
            <div class="hero-image___container">
                <p class="hero-image___container--lema">¿Qué tiene que llevar un buen plato?</p>
            </div>
            <div class="hero-image--author">
                <p>Imagen de <a href="https://www.freepik.es/foto-gratis/vista-superior-alimentos-que-aumentan-inmunidad-verduras-pescado_21076763.htm#query=comida&position=21&from_view=keyword&track=sph&uuid=3ec02604-bfe5-48d3-ab95-49156b47a6f9">Freepik</a></p>
            </div>
        </div> 
        <section>
            <div class="introduction">
                <div class="introduction___container">
                    <div class="introduction___container--text-intro">
                        <h1>
                            Verduras, hidratos de carbono y proteínas son partes imprescindibles de un plato equilibrado
                        <h1>
                    </div>
                    <div class="introduction___container--description">
                        <blockquote>Las verduras, los hidratos de carbono y las proteínas son elementos esenciales que convergen para crear la armonía en un plato perfecto. Las verduras, ricas en vitaminas, minerales y fibra, aportan frescura, color y vitalidad, además de contribuir a una digestión saludable. Los hidratos de carbono, como el arroz, la pasta o las patatas, son la fuente principal de energía, brindando esa sensación de saciedad y proporcionando la energía necesaria para el día a día. Por otro lado, las proteínas, ya sean de origen animal o vegetal, son los bloques constructores esenciales para nuestros músculos, tejidos y órganos, además de ser fundamentales para la reparación y regeneración celular. La combinación equilibrada de estos tres elementos no solo garantiza una experiencia culinaria satisfactoria, sino que también promueve un estilo de vida saludable y nutricionalmente completo.</blockquote>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="list-group">
                <div href="#" class="list-group-item">
                    <h4 class="list-group-item-heading verduras"><i class="fa-solid fa-carrot"></i>Verduras</h4>
                    <p class="list-group-item-text">Las verduras ofrecen una amplia gama de nutrientes esenciales, como vitaminas y minerales, promoviendo así una dieta equilibrada y saludable. Su bajo contenido calórico y alto contenido de fibra las convierte en una opción ideal para mantener un peso saludable y una digestión óptima. Además, su diversidad de colores, sabores y texturas mejora significativamente la calidad gastronómica y la presentación de los platos, haciéndolos más atractivos y satisfactorios tanto visual como gustativamente.</p>
                </div>
                <div href="#" class="list-group-item">
                    <h4 class="list-group-item-heading hidratos"><i class="fa-solid fa-bread-slice"></i>Hidratos de carbono</h4>
                    <p class="list-group-item-text">Los hidratos de carbono son la principal fuente de energía para el cuerpo humano, proporcionando combustible esencial para las funciones diarias y la actividad física. Desde el pan hasta la pasta, estos nutrientes son fundamentales en nuestra dieta. Además de su función energética, los hidratos de carbono también desempeñan un papel importante en la regulación del azúcar en la sangre y la función cerebral. Una dieta equilibrada que incluya una cantidad adecuada de hidratos de carbono contribuye a mantener niveles de energía estables, mejorar la concentración y promover la sensación de saciedad, ayudando así a mantener un peso saludable.
                    </p>
                </div>
                <div href="#" class="list-group-item">
                    <h4 class="list-group-item-heading proteina"><i class="fa-solid fa-drumstick-bite"></i>Proteína</h4>
                    <p class="list-group-item-text">Las proteínas son macronutrientes esenciales para el cuerpo humano, siendo los pilares fundamentales de la estructura y función celular. Además de su papel estructural, también actúan como enzimas, hormonas y anticuerpos, regulando una variedad de procesos biológicos clave. Desde la carne hasta las legumbres, las fuentes de proteínas son variadas y necesarias para mantener la salud muscular, ósea y metabólica. Además, las proteínas son cruciales para la reparación y el crecimiento de tejidos, lo que las convierte en componentes imprescindibles para una dieta equilibrada y nutritiva.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="platos">
                <h1>Hay variedad de platos que nos ofrecen está combinación, en algunas ocasiones tenemos que optar por comidas de dos platos.</h1>
                <div class="platos--texto">
                    <p>Algunos de estos platos son la paella combina arroz (hidratos de carbono) con conejo (proteínas) y una variedad de verduras como pimientos, guisantes y judías verdes. También tenemos tortilla de patata con huevos (proteínas) y patatas (hidratos de carbono) y lo podemos juntar con gazpacho para aportar las verduras o incluso un plato típico como la fabada asturiana que combina alubias blancas (hidratos de carbono) con chorizo, morcilla y tocino (proteínas) y verduras como cebolla, ajo, zanahorias y pimiento rojo.</p>
                    <p>Esto son sólo algunos ejemplos pero encontramos una gran variedad de platos que juntos o separados nos aportan esta gran combinación.</p>
                </div>
            </div>
        </section>
        <div class="imagen-platos">
            <img src="../assets/images/platos.jpg">
        </div>
        <section class="platos">
            <div class="platos--final">
                <div class="platos--texto">
                    <p>En España partimos también muchas veces del aperitivo donde encontramos alimentos saludables que pueden ayudarnos a conseguir alcanzar estas metas de alimentación. Encontramos gran variedad de embutidos que aportan proteína, el queso también ayuda, frutos secos. Algo de verduras aún que no suficientes pueden ser unos tomates cherry o aceitunas. Los hidratos de carbono pueden ser un poco de pan o las típicas regañadas andaluzas.</p>
                </div>
            </div>
        </section>
    </main>
    <include src="src/views/footer.html"></include>
  </body>
</html>
