<footer class="footer">
    <div class="footer-home">
        <a href="../index.html"><img src="../assets/images/logo.png" alt="Logo del concurso" width="60" height="60"></a>
    </div>
    <div class="footer-pages">
        <nav>
            <ul>
                <li class="separator"><a href="../index.html">Inicio</a></li>
                <li class="separator"><a href="chefs.html">Chefs</a></li>
                <li class="separator"><a href="blog.html" >Blog</a></li>
                <li><a href="apuntarse.html" class="{{ apuntate }}">Apúntate</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-redes">
        <nav>
            <ul>
                <li class="separator"><a href="https://www.google.com/intl/es/photos/about/" target="_blank"><img src="../assets/images/google.png"></a></li>
                <li class="separator"><a href="https://www.facebook.com" target="_blank"><img src="../assets/images/facebook.png"></a></li>
                <li class="separator"><a href="https://twitter.com/" target="_blank"><img src="../assets/images/twitter.png"></a></li>
            </ul>
        </nav>
    </div>
</footer>