@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500|Lora:400,400i,700,700i');
@import "layouts/menu";
@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Roboto', sans-serif;
}

.hero-image {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(../images/ingredientes.jpg);
    background-size: cover;
    background-position: center;

    &___container {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 1rem;

        &--lema {
            font-size: 3rem;
            line-height: 1.1em;
            font-weight: 900;
            color: #FFC300;
        }
    }
    
    &--author{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;

        a{
            text-decoration: none;
            color: white;
        }
    }
}

.introduction{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 40px;
}

.list-group {
    margin-top: 40px;
    width: 60%; margin: 40px auto;
    border-bottom: 1px solid #004CA7;
    border-radius: 0;

    &-item{
        border: none;

        i {
            margin-right: 20px;
        }
        .verduras{
            color: #ff790d;
        }
        
        .hidratos{
            color: #edb45e
        }

        .proteina{
            color: #c16215
        }

        &-text{
            color: #004CA7;
        }
    }
}



@media (min-width: 992px) {
    .hero-image {
        &___container {
            &--lema {
                font-size: 4.2rem;
                max-width: 750px;
                margin-left: 150px;
            }
        }
    }

    .introduction {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;

        &___container {
            display: flex;
            gap: 4rem;
            border-bottom: 1px solid #004CA7;

            &--text-intro{
                width: 70%;
                color: #004CA7;
            }

            &--description{
                width: 100%;
                text-align: left;
                color: #7CB7FD;
            }
        }
    }
    
}

.platos{
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 40px;
    text-align: justify;
    margin: auto;

    h1{
        font-size: 2rem;
        color: #7CB7FD
    }

    &--texto{
        margin-top: 30px;
        color: #004CA7;
    }
    &--final{
        width: 80%;
        text-align: center;
        margin: auto;
    }
}

.imagen-platos{
    width: 60%;
    text-align: center; 
    margin: auto;
    height: 600px;
    margin-top: 50px;

    img{
        width: 100%;
        height: 100%;
        display: block; /* Convierte la imagen en un bloque */
        margin: auto;
    }
}