@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500|Lora:400,400i,700,700i');
@import "layouts/menu";
@import "bootstrap/scss/bootstrap";

.participants-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    width: 70%;
    margin: 40px auto;
}

body {
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    margin-top: 0;
}
main {
    margin-top: 10vh;
}
h1 {
    font-weight: 450;
    text-align: center;
    font-size: 42px;
    color: #004CA7;
}

h2 { 
    color: #7CB7FD;
    text-align: center;
}

p {
    text-align: center;
}
.participant {
    width: 25%;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.card-content{
    margin-top: 20px;
    height: 20%;
}